h1{
    text-align: center;
    margin-top:2em;
}
h3{
    text-align: center;
    color:lightgray;
}
h2{
    text-align: center;
    color:white;
}
body{
    background-color: black;
}
.section{
    padding-top:2em;
    padding-bottom:2em;
}


nav img {
    max-width: 20%;
    max-height: 20%;
}

.fixed-bg h1{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    color:black;
    background-color: rgba(255, 255, 255, 0.507);
    
    

}
.fixed-bg h2{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    color:black;
    background-color: rgba(255, 255, 255, 0.507);
    
    

}
nav{
    
    margin-bottom: 0px;
}
.logo
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr{
    color:white;
}

.pictures {
    width: 275px;
    height: 300px;
    border: 5px solid; color: white;
}

.fontColor {
    color: white;
}